.quick-look {

  overflow: hidden;
  @include add-gutter-margin-bottom();

  @include media-breakpoint-down(sm) {
    .top-heading {
      margin-top: 0 !important;
    }
  }

  b, label {
    word-wrap: break-word;
  }

  div[class^="col-"] {
    padding-left: 0 !important;
  }

  .border-bottom-line {
    @include add-gutter-padding-top();
    border-bottom: solid .1px lightgrey;
  }

  .panel {
    @include add-gutter-padding-left();
  }

  .link {
    display: block;
    @include add-gutter-padding-bottom();
    @include add-gutter-margin-top();
  }

  .add-padding-bottom {
    @include add-gutter-padding-bottom();
  }

  .add-top-margin10 {
     margin-top: 5px;
  }

  .shift-right {
    padding-left: 6em !important;
  }

  .top-border {
    border-top: solid lightgrey 3px;
  }
}