.quick-look {

  overflow: hidden;

  b, label {
    word-wrap: break-word;
  }

  div[class^="col-"] {
    padding-left: 0;
  }

  .border-bottom-line {
    @include add-gutter-padding-bottom();
    border-bottom: solid .1px lightgrey;
  };

  .panel {
    @include add-gutter-padding-left();
  }

  .link {
    @include add-gutter-padding-bottom();
  }
}