@import "colours/palette";
@import "colours/organisation";
@import 'font_stack';

.header-image{
  -webkit-mask-image: url('/img/hmpps_crest.svg');
  mask-image: url('/img/hmpps_crest.svg');
  background-color: white;
  width: 42px;
  height: 35px;
}


