@import "colours/palette";
@import "colours/organisation";
@import 'font_stack';

.header-image{
  background-image: url('/img/logo-crest-white.png');

  width: 42px;
  height: 35px;
}

.logo-text:after{
  content: "HMPPS";
}

.header-text:after{
  content: "Prison-NOMIS";
}