@import "colours/palette";
@import "colours/organisation";
@import 'font_stack';

.header-image{
  background-image: url('/img/logo-crest-white.png');

  width: 42px;
  height: 35px;
}


.button-link {
  @extend .button;

  background: $govuk-blue !important;
  border-bottom: $black !important;
}