@import 'govuk-elements';

.detail-content {
  padding-bottom: 40px;
  width: 100%;
}

@media (min-width: 1024px) {
  .detail-content {
    padding-bottom: 0;
  }
}

.large-image-container {
  margin: auto;
  width: 320px;
}

.image-container {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  width: 320px;
}

.button-container {
  margin-top: 6%;
  text-align: center;

  button {
    width: 50%;
  }
}

//TODO Will be moved during the button rework.

.cancel-button {

  @extend .button;

  background: #DEE0E2 !important;
  color: #0B0C0C !important;
  font-family: 'nta', Arial, sans-serif;

  &:hover {
    background: #BABABA !important;
    color: #0B0C0C !important;
  }
}
