@import "govuk-elements";

.image-container{

    height:23em;
    width:17em;
    text-align: center;
    margin-top:12%;
    margin-left:auto;
    margin-right: auto;

  .photo{
    width: 70px;
    height: 90px;
  }

  button{
    width:80%;
  }
}

//TODO Will be moved during the button rework.

.cancel-button {

   @extend .button;

  background: #DEE0E2 !important;
  color: #0B0C0C !important;
  font-family: "nta", Arial, sans-serif;

  &:hover {
    background: #BABABA !important;
    color: #0B0C0C !important;
  }
}