.detail-content {
  margin-bottom: 4em;
  width: 100%;
}

@media (min-width: 1024px) {
  .detail-content {
    padding-bottom: 0;
  }
}

.large-image-container {
  text-align: center;

  &__image {
    margin: 30px 0;
    max-height: 600px;
  }
}

//TODO Will be moved during the button rework.

.cancel-button {
  @extend .button;

  background: #dee0e2 !important;
  color: #0b0c0c !important;
  font-family: 'nta', Arial, sans-serif;

  &:hover {
    background: #bababa !important;
    color: #0b0c0c !important;
  }
}
