node_modules
npm-debug.log
.env*
README.md
notes.mkd
component-plan.mkd
*.iml
docs/
.idea/
.gitattributes
.gitignore
.git
.circleci
kudu-deploy.sh
promote-from-*
Users
scss-report.txt
tests
eslint-report.html
test-report.html
gradlew*
gradle
build.gradle
notm-specs
jest.config.js
settings.gradle
promote-to-env.sh