stats.json

# Cruft
.DS_Store
npm-debug.log
.idea
*.iml
client.key

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

.DS_store

# Dependency directories
node_modules/


# Optional npm cache directory
.npm
build
# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

reports
test-results.xml
build-info.json
temp
