
.desktop-alerts-filter-form {

  margin-top: 1.875em;
  margin-bottom: 2em;
  padding: 15px;
  background-color: #F2F2F2;

  .button {
    width: 100%;
  }

  .reset-filters {
    padding-top: 0.5em;
  }

  .rdtPicker {
    width: 322px;
  }

  .form-control{
    width:100%;
    height: 36px !important;
  }

  .date-range-label {
    font-weight: bold;
  }

  .margin30 {
    margin-top: 30px;
  }

  .date-picker-component {
    display: inline-block;
    margin-left: 10px;
    width: 45%;
  }

  .date-picker-component:first-child {
    margin-left: 0;
  }
}


