

.feedback-link {
   .container {
     width: 100%;
     flex: 1;
     display: flex;
     justify-content: center;
     padding: 0 15px 0 15px;

     .main-content {
       border-bottom: 1px solid #bfc1c3;
       padding: 10px 0 5px;
       margin-bottom: 0;

       span {
         @include link-font-size();
       }

       a {
         color: #005ea5;
       }
     }
   }
}