
.header-details {

  .visible-large {
    display: block;
  }

  .visible-small {
    display: none;
  }

  .no-padding-left {
    padding-left: 0;
  }

  @media(max-width: 480px) {

    .visible-large {
       display: none;
    }

    .visible-small {
      display: block;

      .middle-section {
        div[class^='col-'] {
          padding-left: 0;
        }
      }
    }

    .inline-header-large {
      display: none !important;
    }
  }


  @include add-gutter-margin-top();

  .button-link {
    min-width: 9em !important;
    text-align: center;
  }

  label {
    display: block;
  }

  h1 {
    word-wrap: break-word;
  }

  label {
    font-size: 24px;
    display: block;
  }

  b {
    font-size: 24px;
  }

  @media(max-width: 640px) {
    h1 {
      font-size: 24px !important;
    }
    label {
      font-size: 16px !important;
    }
    b {
      font-size: 16px !important;
    }
  }

  .photo {
    @include add-gutter-padding-right();

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      max-width: 160px !important;
      max-height: 200px !important;
    }
  }

  .row {
    @include add-gutter-margin-bottom();
  }

  h1.heading-medium {
    margin: 0;
    padding: 0;
    font-size: 36px;
  }

  .no-top-margin {
    margin-top: 0;
  }

  .alerts {

    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      .inactive-alert {
        padding-left: 0 !important;
        margin-left: 0 !important;
      }
    }

    .active-alert {
      color: red;
      padding-right: .5em;
    }

    .inactive-alert {
      padding-left: .5em;

      @include media-breakpoint-up(lg) {
        border-left: solid 3px black;
      }
    }
  }

  .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .inline-header {
    display: inline-block;
    margin-right: 10px !important;
  }

  %status-style {
    border: 2px solid green;
    padding: .5em 0.8em 0;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    display: inline-block;
    min-width: 7em;
    height: 29px;
  }

  .acct-status {
    @extend %status-style;
    color: #F47738;
    border-color: #F47738;
  }

  .assault-status {
    @extend %status-style;
    color: #4C2C92;
    border-color: #4C2C92;
  }

  .disability-status {
    @extend %status-style;
    padding-top: 0.3em;
    color: #2B88C8;
    border-color: #2B88C8;
  }

  .disability-adjust {
    position: relative;
    left: -7px;
    top: -2px;
  }

  .arsonist-status {
    @extend %status-style;
    padding-top: 0.3em;
    color: #DF3034;
    border-color: #DF3034;
  }

  .flag-arsonist-icon {
    margin-bottom: 4px;
  }
}

@media (min-width: 481px) {
  .inline-header-large {
    display: inline-block;
  }

  .align-alerts {
    vertical-align: 8px;
  }
}
