.header-details {
  .stacked-links {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 10px;
    }
  }

  .visible-large {
    display: block;
  }

  .visible-small {
    display: none;
  }

  .no-padding-left {
    padding-left: 0;
  }

  @media (max-width: 480px) {
    .visible-large {
      display: none;
    }

    .visible-small {
      display: block;

      .middle-section {
        div[class^='col-'] {
          padding-left: 0;
        }
      }
    }

    .inline-header-large {
      display: none !important;
    }
  }

  @include add-gutter-margin-top();

  .button-link {
    min-width: 10em !important;
    text-align: center;
  }

  .label {
    font-size: 24px;
    display: block;
  }

  h1 {
    word-wrap: break-word;
  }

  b {
    font-size: 24px;
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 24px !important;
    }
    .label {
      font-size: 16px !important;
    }
    b {
      font-size: 16px !important;
    }
  }

  .photo {
    @include add-gutter-padding-right();

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      max-width: 160px !important;
      max-height: 200px !important;
    }
  }

  .row {
    @include add-gutter-margin-bottom();
  }

  h1.heading-medium {
    margin: 0;
    padding: 0;
    font-size: 36px;
  }

  .no-top-margin {
    margin-top: 0;
  }

  .alerts-link {
    display: flex;
    flex-direction: row;
    text-decoration: 'underline';
    color: black;

    &:focus {
      background-color: $yellow;
      outline: 3px solid $yellow;

      .active-alert {
        color: black;
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      .inactive-alert {
        padding-left: 0 !important;
        margin-left: 0 !important;
      }
    }

    .active-alert {
      color: red;
      padding-right: 0.5em;
    }

    .inactive-alert {
      padding-left: 0.5em;

      @include media-breakpoint-up(lg) {
        border-left: solid 3px black;
      }
    }
  }

  .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .inline-header {
    display: inline-block;
    margin-right: 10px !important;
  }
}

/* stylelint-disable property-no-vendor-prefix */
%status-style {
  border: 3px solid;
  padding: 0.4em 0.8em;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  display: inline-block;
  min-width: 7em;
  height: 29px;

  // disable text selection in the alert flags.
  // From https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  @media print {
    padding-top: 0.7em;
    font-size: 10px;
  }
}

%alert-status-style {
  @extend %status-style;
  cursor: pointer;
}

.acct-status {
  @extend %alert-status-style;
  color: #d34700;
  border-color: #d34700;
}

.assault-status {
  @extend %alert-status-style;
  color: #4c2c92;
  border-color: #4c2c92;
}

.disability-status {
  @extend %alert-status-style;
  padding-top: 0.32em;
  color: #2b88c8;
  border-color: #2b88c8;
}

.disability-adjust {
  margin-bottom: 2px;
  position: relative;
  width: 14px;
  height: 15px;
  left: 0;
  top: -1px;
}

.arsonist-status {
  @extend %alert-status-style;
  padding-top: 0.18em;
  color: #df3034;
  border-color: #df3034;
}

.arsonist-adjust {
  margin-bottom: 7px;
  position: relative;
  width: 11px;
  height: 14px;
  left: 0;
  top: 2px;
}

.elist-status {
   @extend %alert-status-style;
   color: #28a197;
   border-color: #28a197;
 }

.risk-females-status {
  @extend %alert-status-style;
  color: #6f71af;
  border-color: #6f71af;
}

.tact-status {
  @extend %alert-status-style;
  color: #d53880;
  border-color: #d53880;
}

.cata-status {
  @extend %status-style;
  color: #00437b;
  border-color: #00437b;
}

.cata-high-status {
  @extend %status-style;
  background-color: #00437b;
  color: white;
  border-color: #00437b;
}

.cata-prov-status {
  @extend %status-style;
  border: 3px dashed;
  color: #00437b;
  border-color: #00437b;
}

.corruptor-status {
  @extend %alert-status-style;
  color: #B10E1E;
  border-color: #B10E1E;
}

.corruptor-adjust {
  margin-bottom: 2px;
  position: relative;
  width: 14px;
  height: 12px;
  left: 0;
  top: -1px;
}

.chemical-attacker-status {
  @extend %alert-status-style;
  color: #69831E;
  border-color: #69831E;
}

.concerted-indiscipline-status {
  @extend %alert-status-style;
  color: #444;
  border-color: #444;
}

.racist-status {
  @extend %alert-status-style;
  color: #8F5F11;
  border-color: #8F5F11;
}

.risk-lgbt-status {
  @extend %alert-status-style;
  color: #912B88;
  border-color: #912B88;
}

.hostage-taker-status {
  @extend %alert-status-style;
  color: #C6545F;
  border-color: #C6545F;
}

.controlled-unlock-status {
  @extend %alert-status-style;
  color: #2E358B;
  border-color: #2E358B;
}

.gang-member-status {
  @extend %alert-status-style;
  color: #005F9E;
  border-color: #005F9E;
}

.csip-status {
  @extend %alert-status-style;
  color: #4C2C92;
  border-color: #4C2C92;
}

.veteran-status {
  @extend %alert-status-style;
  color: #006435;
  border-color: #006435;
}

.care-leaver-status {
  @extend %alert-status-style;
  color: #3F90AE;
  border-color: #3F90AE;
}

.acct-post-closure-status {
  @extend %alert-status-style;
  color: #F47738;
  border: 3px dashed #F47738;
}

@media (min-width: 481px) {
  .inline-header-large {
    display: inline-block;
  }

  .align-alerts {
    vertical-align: 8px;
  }
}
