.clickable{
  cursor: pointer;
}

.button-start{
  background-image: url('~/img/icon-pointer.png') !important;
}

a.link{

  color: $link-colour !important;
  font-size: 19px;

  &:hover {
    color: $link-hover-colour !important;
  }

  &:visited {
   // color: $link-colour !important;
    text-decoration: none !important;
  }
}

.form-control {
  background-color: white;
}

@media (min-width: 39rem) {
  p {
    width: 39rem;
  }
}

