.clickable {
  cursor: pointer;

  &:focus {
    outline: 3px solid #ffbf47;
  }
}

.button-start {
  background-image: url('~/img/icon-pointer.png') !important;
}

a.link {
  color: $link-colour !important;
  font-size: 19px;

  &:hover {
    color: $link-hover-colour !important;
  }

  &:visited {
    // color: $link-colour !important;
    text-decoration: none !important;
  }
}

.form-control {
  background-color: white;
}

.add-small-margin-bottom {
  margin-bottom: 5px;
}

// Global box-sizing: border-box is set because of the grid systems we use and is causing an issue with gov.uk checkbox and radio styles.
// Unsetting until we sort out the grid choice, to fix their appearance.
[type='radio'] + span {
  &::after {
    box-sizing: unset;
  }
}

[type='checkbox'] + span {
  &::before,
  &::after {
    box-sizing: unset;
    background: white;
  }
}

// Remove default print details (url and document title etc)
@media print {
  @page {
    margin: 15px;
  }
}
