.booking-search {
  .heading-xlarge {
    margin: 10px 0 !important;
  }

  .toggle-and-count-view {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  select {
    height: 2em;
  }
  .form-control {
    width: 100%;
  }
}

.mobile-only {
  display: block;
}

@media (min-width: 1024px) {
  .booking-search {
    .heading-xlarge {
      margin-bottom: 20px !important;
      margin-top: 0 !important;
    }
  }

  .mobile-only {
    display: none;
  }
}
