
.booking-search {
  .heading-xlarge {
    margin: 10px 0 !important;
  }

  .toggle-and-count-view {
    margin-bottom: 0;
  }
}

.mobile-only {
  display: block;
}

@media (min-width: 1024px) {
  .booking-search {
    .heading-xlarge {
      margin-bottom: 20px !important;
      margin-top: 0 !important;
    }

    .toggle-and-count-view {
      margin-bottom: 1em;
    }
  }

  .mobile-only {
    display: none;
  }
}
