.search-again {
  .filter-box {
    margin-bottom: 20px;
    background: lighten($panel-colour, 6%);
    padding: 15px 0 0;
  }

  details {
    margin: 15px 0;
  }

  .clear-filters:focus {
    outline: 4px solid $focus-colour;
    outline-offset: -1px;
    color: black !important;
    background: $focus-colour;
  }

  select {
    height: 2em;
  }

  @include media-breakpoint-down(md) {
    .filter-box {
      padding: 10px 10px 10px 0;

      .form-control {
        margin-bottom: 15px;
      }
    }
  }

  @media print {
    display: none;
  }
}
