.booking-table {
  margin-top: 10px;
  font-size: 16px;

  .photo {
    height: 100px;
    width: 80px;
  }

  .remove-left-padding {
    padding-left: 0 !important;
  }

  .add-margin-top {
    margin-top: 4%;
    @include media-breakpoint-down(xs) {
      margin-top: 10% !important;
    }
  }

  .add-flags-margin-top {
    margin-top: 3%;
  }

  .row {
    border-bottom: solid .5px lightgrey;
    @include add-gutter-padding-bottom();
    @include add-gutter-padding-top();
  }

  @media (max-width: 359px) {
    .photo {
      height: 65px;
      width: 52px;
    }
  }

  span {
    word-wrap: break-word;
  }
}
