@import 'bootstrap-feature-select-nomis';

.booking-table {
  margin-top: 10px;

  .photo {
    height: 100px;
    width: 80px;
  }

  @include media-breakpoint-down(xs) {
    .link {
      font-size: 16px;
    }
  }

  @media (max-width: 359px) {
    .photo {
      height: 65px;
      width: 52px;
    }
  }
}
