

.bread-crumbs {

  .link-wrapper {
    display: inline-block;

    span {
      display: inline-block;
      margin-right: 4px;
    }

    .link {
      font-size: 16px;
      margin-right: 4px;

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  }
}