
.bread-crumbs {

  .link-wrapper {
    display: inline-block;

    span {
      display: inline-block;
      margin-right: 4px;
    }

    .crumb {
      @include link-font-size();
      margin-right: 4px;
    }
  }
}

a.crumb {
  color: #005EA5;
}

a.crumb:visited {
  color: #4C2C92;
}

a.crumb:hover {
  color: #2B8CC4;
}
