

.my-allocations {

  [class*='col-'] {
    word-wrap: break-word;
    margin-left: 0;
    padding-left: 0;
  }

  .photo {
    height: 100px;
    width: 80px;
  }

  .inline-block {
    display: inline-block;
    vertical-align: middle;
  }

  .margin-top {
    margin-top: 2.5em;
  }

  .line-bottom {
     border-bottom: solid 2px #BFC1C3;
  }

  .grey-row {
    background: #F6F6F6;
  }

  .offender-table {

    .table-headings {
      padding-bottom: 0;
    }

    font-size: 16px;
  }

}
