.footer-content,
.header-content {
  max-width: 1200px;
}

.page-header {
  font-family: nta, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  background-color: #0b0c0c;
  z-index: 999;
  height: 60px;
  width: 100%;
  justify-content: center;
}

.logo-text,
.unstyled-link {
  text-decoration: none;
  color: #fff;
}

.header-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
}

.left-content {
  float: left;
}

.right-content {
  float: right;
  height: 100%;
}

.right-menu {
  display: initial;
  height: 100%;
}

.logo {
  margin-left: 0;
  margin-right: 5px;
  float: left;
}

.logo-text {
  font-size: 26px;
  padding: 3px 10px 0 10px;
  font-weight: 700;
  border-right: solid #fff 1px;
  display: inline-block;
}

.title {
  text-align: left;
  font-size: 26px;
  flex-grow: 1;
  text-decoration: none;
  padding-left: 5px;
}

.container,
.footer-content {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.FooterContainer {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #dee0e2;
  vertical-align: baseline;
  height: 100px;
  bottom: 0;
}

@media (min-width: 1024px) {
  .FooterContainer {
    display: block;
  }
}

@media (min-width: 39rem) {
  p {
    width: 39rem;
  }
}

.container {
  max-width: 640px;
  justify-content: center;
  padding-bottom: 40px;
}

.FooterLinksContainer {
  padding-top: 10px;
  font-size: 16px;
}

.FooterLink {
  float: left;
  padding: 0 19px;
  border-right: 1px solid #0b0c0c;
  height: 19px;
  cursor: pointer;
  text-decoration: underline;
}

.FooterLink:last-child {
  border-right: 0;
}

.FooterLink:first-child {
  padding-left: 0;
}

.FooterLink a {
  color: #454a4c;
  text-decoration: underline;
}

.FooterLink a:visited {
  color: #454a4c;
}

.FooterLink a:hover {
  color: #323334;
}

.FooterSignature {
  clear: left;
  margin-top: 37px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
  opacity: 0.6;
}
