.footer-content,
.header-content {
  max-width: 1200px;
}

.page-header {
  font-family: nta, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
  background-color: #0B0C0C;
  z-index: 999;
  height: 60px;
  width: 100%;
  justify-content: center;
}

.logo-text,
.unstyled-link {
  text-decoration: none;
  color: #fff;
}

.header-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
}

.left-content {
  float: left;
}

.right-content {
  float: right;
  height: 100%;
}

.right-menu {
  display: initial;
  height: 100%;
}

.logo {
  margin-left: 0;
  margin-right: 5px;
  float: left;
}

.logo-text {
  font-size: 26px;
  padding: 3px 10px 0 10px;
  font-weight: 700;
  border-right: solid #fff 1px;
  display: inline-block;
}

.title {
  text-align: left;
  font-size: 26px;
  flex-grow: 1;
  text-decoration: none;
  padding-left: 5px;
}

.container,
.footer-content {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-image {
  -webkit-mask-image: url("/images/hmpps_crest.svg");
  mask-image: url("/images/hmpps_crest.svg");
  background-color: #fff;
  width: 42px;
  height: 35px;
}

.FooterContainer {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #DEE0E2;
  vertical-align: baseline;
  height: 100px;
  bottom: 0;
}

.container {
  max-width: 640px;
  justify-content: center;
  padding-bottom: 40px;
}

.FooterLinksContainer {
  padding-top: 10px;
}

.FooterLink {
  float: left;
  padding: 0 19px;
  border-right: 1px solid #0B0C0C;
  height: 19px;
  cursor: pointer;
}

.FooterLink:last-child {
  border-right: 0;
}

.FooterLink:first-child {
  padding-left: 0;
}

.FooterLink:hover {
  text-decoration: underline;
}

.FooterSignature {
  clear: left;
  margin-top: 37px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
  opacity: .6;
}