

.whereabouts {

  h1 {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .cancelled {
    color: $cancelled;
    @include bold-19()
  }

  @include media-breakpoint-up(lg) {
    .col-lg-3 {
      width: 30% !important;
      margin-right: 0 !important;
      padding-right: 0 !important;
    }

    h1.heading-medium.whereabouts-day-header {
      font-size: 19px !important;
      margin-top: 17px;
    }
  }



  @include media-breakpoint-up(xl) {

    .filters {
      border-bottom: solid 1px;
      @include add-gutter-margin-bottom();
    }
  }

  .appointment {
    min-height: 100px;
    padding-bottom: 5px;
  }

  .appointment.morning {
    background: #E9F3F9;
  }

  .appointment.afternoon {
    background: #D5E8F4;
  }

  .appointment.ed {
    background: #BEDCEE;
  }

  .separator {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    div[class^="col-"] {

      .whereabouts-startTime {
        margin-left: 10px !important;
      }

      margin-left: 0 !important;
      padding-left: 0 !important;
    }

    .appointment-row {
      border-top: solid 1px;
    }

    .appointments {
      @include add-gutter-padding-top();
      @include add-gutter-margin-bottom();
    }

    .whereabouts-day-header {
      display: inline-block;
      @include add-gutter-margin-right()
    }

    .whereabouts-date-header {
      display: inline-block;
    }
  }
}