

.threshold-indicator {

  > span {
    color: #0B0C0C;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;

    width: 1.7em;
    line-height: 1.7em;
    text-align: center;
    font-size: 1.1em;
    display: inline-block;
    font-weight: bold;
  }

  .high {
    background: #EF9799;
  }

  .medium {
    background: #F9BB9B;
  }

  .low {
    background: #C2CCA5;
  }

  .none {
    background: grey;
  }
}
