.threshold-indicator {
  > span {
    color: #0b0c0c;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    width: 1.7em;
    line-height: 1.7em;
    text-align: center;
    font-size: 1.1em;
    display: inline-block;
    font-weight: bold;
  }

  .high {
    background: #ef9799;
  }

  .medium {
    background: #f9bb9b;
  }

  .low {
    background: #c2cca5;
  }

  .none {
    background: grey;
  }
}
