.add-appointment {

  @include media-breakpoint-down(md) {

    @include add-gutter-margin-top();
  }

  @include media-breakpoint-down(xs) {
    button:first-child {
      @include add-gutter-margin-bottom();
    }
  }

  .time-picker > .form-control {
    width: 45% !important;
    margin-right: 5px;
  }

  .col-xs-6 {
    padding-right: 0 !important;
  }

  .form-control {
    width: 100% !important;
  }

  .rdtPicker {
    width: 350px !important;
  }

  select {
    height: 2em;
  }
}