# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: docker.io/mojdigitalstudio/new-nomis-ui
  tag: latest
  pullPolicy: IfNotPresent
  port: 3000

ingress:
  enabled: true
  enable_whitelist: false
  host: digital-dev.prison.service.justice.gov.uk
  cert_secret: notm-cert
  path: /

env:
  API_ENDPOINT_URL: "https://gateway.t3.nomis-api.hmpps.dsd.io/elite2api/"
  OAUTH_ENDPOINT_URL: "https://gateway.t3.nomis-api.hmpps.dsd.io/auth/"
  API_WHEREABOUTS_ENDPOINT_URL: "https://whereabouts-api-dev.service.justice.gov.uk/"
  API_COMMUNITY_ENDPOINT_URL: "https://community-proxy.apps.live-1.cloud-platform.service.justice.gov.uk/communityapi/"
  PRISON_STAFF_HUB_UI_URL: "https://whereabouts-dev.prison.service.justice.gov.uk/"
  KEYWORKER_API_URL: "https://keyworker-api-dev.hmpps.dsd.io/" 
  CASENOTES_API_URL: "https://dev.offender-case-notes.service.justice.gov.uk" 
  OMIC_UI_URL: "https://dev.manage-key-workers.service.justice.gov.uk/"
  CATEGORISATION_UI_URL: "https://dev.offender-categorisation.service.justice.gov.uk/"
  PATHFINDER_URL: "https://dev.pathfinder.service.justice.gov.uk"
  USE_OF_FORCE_URL: "https://dev.use-of-force.service.justice.gov.uk"
  USE_OF_FORCE_PRISONS: "WRI"
  HMPPS_COOKIE_NAME: hmpps-session-dev
  REMOTE_AUTH_STRATEGY: "true"
  WEB_SESSION_TIMEOUT_IN_MINUTES: "60"
