.search-form {

  .location-with-global-search-checkbox {

    .form-control:disabled {
      color: grey;
    }

    .multiple-choice {
      float: none;
      display: inline-flex;

      @include media-breakpoint-down(xs) {
        display: none;
      }
      margin-left: 15px;
    }
  }

  .error-summary{
    width: 75% !important;
  }

  @include media-breakpoint-down(sm) {
    .error-summary{
      width: 100% !important;
    }
  }

  .box{
    padding:2em;
    background-color: lighten(#2B88C8,45%);

    .heading-large{
      margin-top: 0em !important;
      margin-bottom: 1em !important;
    }

    .search-input{
      height: 48px;
      margin-right: .5em;
    }

    select{
      height: 45px;
    }

    .form-control{
      margin-bottom: 1.5em;
    }

    .form-control:last-child{
      margin-bottom:0;
    }

    .mobile-button{
      display: none;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;

      .error-summary{
        width: 100% !important;
      }

      .mobile-button{
        display: block;
        margin-top: 1em !important;
      }

      .desktop-button{
        display:none;
      }
    }
  }
}
.assignment-box{
  padding:2em;
  background-color: $highlight-colour;
  width: 75%;
  margin-top: 2em;

  .heading-large{
    margin-top:0em !important;
    margin-bottom: 1em !important;
  }

  @include media-breakpoint-down(sm){
    width: 100%;
  }
}

.kw-manager-box {
  padding: 0.5em;
  background-color: $highlight-colour;
  border: 0.15em solid #BFC1C3;
  margin-top: 1em;

  @include media-breakpoint-down(sm) {
    height: 5em;
  }
}