

.action-links {

   .link-box {
     background: #F8F8F8;
     border: solid 2px #DEE0E2;

     display:flex;
     flex-direction: row;
     align-items: center;
     padding: .8em 0 .8em 0;
     height: 100px;

     img {
       max-width: 50px;
       max-height: 50px;
       margin-left: 1em;
     }

     .heading-medium {
       margin: .2em 1em 0 0 ;
     }
   }

  .link-container {
    margin: 0 15px 15px 0;
    display: inline-block;
    vertical-align: top;
  }

  @include media-breakpoint-down(xs) {
    .link-container {
      width: 100%;
    }
  }
}