$person-details-background-colour: #f2f2f2;

.booking-grid {
  margin-left: 3px;

  .sort-by-select {
    margin-bottom: 8px;

    span {
      padding-left: 0;
    }

    select {
      margin-top: -20px;
      width: 200px;
      margin-bottom: 30px;
    }
  }

  .separator {
    border-bottom: solid 3px darken($person-details-background-colour, 3%);
    width: 99%;
    padding-top: 10px;
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    .grid-item {
      width: 20%;

      .person-block {
        margin-top: 0.5em;
        margin-right: 0.5em;
        background: $person-details-background-colour;
        padding: 1px;

        .person-details {
          padding: 1em 0.5em;

          .person-name {
            word-wrap: break-word;
          }

          .ancillary-text {
            word-wrap: break-word;
          }
        }

        .grid-photo {
          height: 280px;
          cursor: pointer;
          overflow: hidden;

          img {
            min-width: 80px;
            min-height: 100px;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .grid-item {
        width: 25% !important;

        .person-block {
          .grid-photo {
            height: 220px;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .grid-item {
        width: 33% !important;

        .person-block {
          .grid-photo {
            height: 294px;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      .grid-item {
        width: 50% !important;

        .person-block {
          .grid-photo {
            height: 205px;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .grid-item {
        .person-block {
          margin-top: 1em;
        }

        .person-details {
          background: #f2f2f2;
          padding: 1em 0.5em;
        }

        .booking-search {
          .form-control {
            width: 100% !important;
          }
        }
      }
    }

    @media print {
      display: block;

      .grid-item {
        float: left;
        page-break-inside: avoid;
      }
    }
  }
}
