@import 'bootstrap-feature-select-nomis';

$person-details-background-colour: #F2F2F2;

.booking-grid {
  margin-left: 3px;

  .sort-by-select {
    margin-bottom: 8px;

    select {
      margin-top: -20px;
      width: 200px;
      margin-bottom: 30px;
    }
  }

  .separator {
    border-bottom: solid 3px darken($person-details-background-colour, 3%);
    width: 99%;
    padding-top: 10px;
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    .grid-item {
      width: 20%;

      .person-block {
        margin-top: .5em;
        margin-right: .5em;
        background: $person-details-background-colour;

        .person-details {
          padding: 1em 0.5em;

          .person-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .ancillary-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
            font-size: 14px;
          }
        }

        .grid-photo {
          height: 280px;
          cursor: pointer;

          img {
            min-width: 80px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .grid-item {
        width: 25% !important;

        .person-block {
          .grid-photo {
            height: 220px;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .grid-item {
        width: 33% !important;

        .person-block {
          .grid-photo {
            height: 294px;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      .grid-item {
        width: 50% !important;

        .person-block {
          .grid-photo {
            height: 205px;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .grid-item {
        .person-block {
          margin-top: 1em;
        }

        .person-details {
          background: #F2F2F2;
          padding: 1em 0.5em;
        }

        .booking-search {
          .form-control {
            width: 100% !important;
          }
        }
      }
    }
  }
}
