$gutter-size: 15px;

.offender-details {

  overflow: hidden;
  margin-bottom: $gutter-size;

  div[class^="col-"] {
    padding-left: 0;
  }

  .mobile-only {
     .row {
       padding-left: 0 !important;
     }
  }

  .photo {
    width: 160px;
    height: 200px;
  }

  .border-bottom-line {
    border-bottom: solid .1px lightgrey;
  }

  .row {
    margin-bottom: $gutter-size;
    margin-left: 0;

    b, label {
      word-wrap: break-word;
    }
  }
}