.offender-details {
  @include media-breakpoint-down(sm) {
    .top-heading {
      margin-top: 0 !important;
    }
  }

  overflow: hidden;
  @include add-gutter-margin-bottom();

  div[class^='col-'] {
    padding-left: 0 !important;
  }

  .desktop {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .mobile {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    .row {
      padding-left: 0 !important;
    }
  }

  .photo {
    width: 160px;
    height: 200px;
  }

  .border-bottom-line {
    border-bottom: solid 0.1px lightgrey;
  }

  .row {
    @include add-gutter-margin-bottom();
    margin-left: 0;

    b,
    span {
      word-wrap: break-word;
    }
  }
}
