@import "govuk-elements";
@import "bootstrap-feature-select-nomis";

.filter-form{
  margin-bottom: 2em;

  .form-control{
    width:100% !important;
    height: 36px !important;
  }

  .date-picker{
    display: inline-block !important;
    width: 50% !important;
    padding-right: 2px !important;
    padding-left: 2px !important;
    clear: both;
  }

  .react-datepicker__input-container {
    display: block !important;
  }

  .date-range-label{
    font-weight: bold;

  }

  .reset-filters{
    margin-top: .3em;
    margin-bottom: 1em;
  }

  .filter-title{
    display: none;
  }

  @include media-breakpoint-up(lg){
    padding: 1em;
    background-color: $highlight-colour;
    margin-top: 1em;
    position: relative;


    .form-group{
      width: 21% !important;
      display: inline-block;
      padding-right: 2px;
      padding-left: 2px;

      margin: auto !important;
    }

    .date-range{
      width:35% !important;
      margin-top: -5em;
      margin-left: 1em !important;
      margin-right: .5em !important;
    }

    .buttons{
      display: inline-block;
      width: 20%;

      .button{
        margin-top: -.5em;
      }

      .reset-filters{
        width:100px;
        height:100px;
        position:absolute;
        bottom:0px;
        right:0px;
      }
    }

  }

}


