
.filter-form{

  .form-control{
    width:100% !important;
    height: 36px !important;
  }

  .date-picker{
    display: inline-block !important;
    width: 50% !important;
    padding-right: 2px !important;
    padding-left: 2px !important;
    clear: both;
  }

  .react-datepicker__input-container {
    display: block !important;
  }

  .date-range-label{
    font-weight: bold;
  }

  .reset-filters{
    margin-top: .3em;
    margin-bottom: 1em;
  }

  margin-bottom: 2em;
}


